:root {
    --important-text-color: #6fe1a8;
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
}

#header {
    /*Delete this*/
}

#logo {
    float: left;
    width: 14%;
    margin-left: 2%;
}

#nav-bar {
    list-style-type: none;
    margin: 2.5% 0 0;
    padding: 0;
    width: 50%;
    float: right;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.nav-button {
    color: black;
    font-size: 1.2vw;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 2% 2.4%;
    text-decoration: none;
    z-index: 2;
}

.nav-button:hover {
    color: var(--important-text-color);
    transition: color 0.15s ease-in-out;
}

.active {
    color: #04AA6D;
}